# etc/systemd/system/stream_cam1.service

[Unit]
Description=FFmpeg Stream for Camera 1
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/local/bin/stream_cam1.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
