[Unit]
Description=Nginx RTMP Service
After=network-online.target

[Service]
Type=forking
ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/nginx
ExecReload=/usr/sbin/nginx -s reload
ExecStop=pkill -9 nginx
PIDFile=/run/nginx.pid
Restart=on-failure
User=root
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
