
service_name = "my_nginx_service"
exec_start = (
    "/usr/bin/python3 /home/bug/Bugfinder/py_deploy/nginx_setup.py"
)
service_file_path = f"/etc/systemd/system/{service_name}.service"

# Systemd service template
service_template = f"""
[Unit]
Description=My Nginx Setup Service
After=network.target

[Service]
Type=simple
ExecStart={exec_start}
Restart=on-failure
User=bug
Group=bug
WorkingDirectory=/home/bug/Bugfinder
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
"""